body{
    background-color: #383838
}
svg{
    margin-top: 31px;
    margin-left: 34px;
    border: 2px;
    color: black;
}
#heading{
    color: #D8464F;
    text-align:center;
    margin-top: 0%;
    font-family: 'Roboto';
}
.flexcontainer{
    display: flex;
    flex-direction: column;
}

.b{
    border-radius: 20px;
    background-size: cover;
    background-color: #212121;
    width: 311px;
    height: 49px;
}

.phase{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    color: white;
    font-family: 'Roboto';
}

.scratch{
    color: #D8464F;
    text-align: center;
    font-family: 'Roboto';
    margin-bottom: 0px;
}
.centered{
    position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scrd{
    height: 276px;
    width: 311px;
    margin-top: 5px;
    border-radius: 16px;
}
.scratchcard{
    text-align: center;
    margin-bottom: 10px;
}

.navigation{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --clr:#222327;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background: var(--clr);
}
.navigation{
    width: 400px;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.navigation ul
{
    display: flex;
    width: 350px;
}
.navigation ul li
{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navigation ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
.navigation ul li.active a .icon
{
    transform: translateY(-32px);
}
.navigation ul li a .text
{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.navigation ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);
}
.indicator{
    position: absolute;
    width: 70px;
    height: 70px;
    background: #29fd53;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}
.indicator::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--clr);
}
.indicator::after
{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--clr);
}
.navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(70px * 3));
}
